@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;400;600;700;900&display=swap");

#blog-post * {
  font-family: "Martel Sans", sans-serif;
}

#blog-post *::-moz-selection {
  /* Code for Firefox */
  color: rgb(250, 250, 250);
  background: #008cff;
}

#blog-post *::selection {
  color: rgb(250, 250, 250);
  background: #008cff;
}

/* Main title */
#blog-post h1 {
  font-size: 30px;
  line-height: 40px;
  font-weight: 900;
}

/* Subtitle */
#blog-post h2 {
  font-size: 16px;
  line-height: 26px;
  color: rgb(117, 117, 117);
  font-weight: 400;
  margin-bottom: 25px;
}

/* Section */
#blog-post h3 {
  font-size: 22px;
  line-height: 30px;
  font-weight: 700;
  margin-top: 1.35em;
  margin-bottom: 3px;
}

/* Subsection */
#blog-post h4 {
  font-size: 20px;
  line-height: 28px;
  margin-top: 1em;
  font-weight: 600;
}

/* Image caption */
#blog-post h5 {
  font-size: 12px;
  width: 100%;
  text-align: center;
  color: #6b6b6b;
  margin-bottom: 1.72em;
  margin-top: -6px;
}

/* Link */
#blog-post a {
  text-decoration: underline;
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

/* Images */
#blog-post img {
  margin: 0 auto;
  margin-top: 1.72em;
  max-width: 100%;
  border-radius: 5px;
  background: transparent;
}

/* Unordered list */
#blog-post ul {
  list-style-type: disc;
  display: block;
  margin-left: 25px;
  margin-bottom: 20px;
}

#blog-post li {
  margin: 10px 0;
}

/* Normal text */
#blog-post p {
  line-height: 26px;
  font-size: 16px;
  color: rgb(41, 41, 41);
  margin-bottom: 15px;
}

/* Block quote */
#blog-post blockquote {
  line-height: 26px;
  font-size: 16px;
  color: rgb(41, 41, 41);
  margin-bottom: 15px;
  display: block;
  border-left: 4px solid rgb(41, 41, 41);
  padding-left: 5px;
  width: 90%;
}

/* Code block */
#blog-post pre div {
  border: 1px solid #ccc;
}

/* -------------------------------------------------- */
/* -------------------- DARK MODE ------------------- */
/* -------------------------------------------------- */

/* Subtitle */
.dark #blog-post h2 {
  color: rgb(148, 148, 148) !important;
}

/* Image caption */
.dark #blog-post h5 {
  color: rgb(165, 165, 165) !important;
}

/* Block quote */
.dark #blog-post blockquote {
  border-left: 4px solid rgb(240, 240, 240);
}

/* Code block */
.dark #blog-post pre div {
  border: 1px solid rgb(90, 90, 90);
}

/* Link */
.dark #blog-post h1,
.dark #blog-post h3,
.dark #blog-post h4,
.dark #blog-post ul,
.dark #blog-post li,
.dark #blog-post p {
  color: rgb(228, 228, 228) !important;
}

/* -------------------------------------------------- */
/* ----------------- RESPONSIVE SIZES --------------- */
/* -------------------------------------------------- */
@media screen and (min-width: 800px) {
  /* Main title */
  #blog-post h1 {
    font-size: 36px;
    line-height: 56px;
  }

  /* Subtitle */
  #blog-post h2 {
    font-size: 22px;
    line-height: 32px;
  }

  /* Section */
  #blog-post h3 {
    font-size: 30px;
    line-height: 36px;
    margin-top: 1.95em;
  }

  /* Subsection */
  #blog-post h4 {
    font-size: 22px;
    line-height: 28px;
    margin-top: 1.72em;
    margin-bottom: 1.22em;
  }

  /* Images */
  #blog-post img {
    max-width: 60%;
  }

  /* Image caption */
  #blog-post h5 {
    font-size: 14px;
  }

  /* Normal text */
  #blog-post p {
    line-height: 32px;
    margin-bottom: 15px;
  }

  /* Block quote */
  #blog-post blockquote {
    padding-left: 15px;
    margin-left: 20px;
    width: 90%;
  }
}

#blog-title {
  animation: fadeInDownBig;
  animation-duration: 600ms;
}

#blog-subtitle {
  animation: fadeInDownBig;
  animation-duration: 500ms;
}
