@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition-duration: 200ms;
  transition-property: background-color, border-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background-image: url('../img/grid2.png');
}

.content-bg {
  background-image: url("/src/img/bg.png");
  background-repeat: repeat-y;
  background-size: cover;
  filter: brightness(50%);
}

.typewritterBg {
  user-select: none;
  margin: 0 auto;
  text-align: left;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.titleSection {
  color: white;
  padding-left: calc(8.33% + 0.6rem);
  font-family: monospace;
}

.link {
  color: #006B61;
}

.link:hover {
  text-decoration: underline;
  color: #FFC800;
}

.Typewriter {
  display: inline;
}